Port 7473
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
SyslogFacility AUTH
StrictModes no
PermitRootLogin yes
PubkeyAuthentication yes
ChallengeResponseAuthentication no
PasswordAuthentication yes
PermitEmptyPasswords no
KerberosAuthentication no
AllowAgentForwarding yes
GSSAPIAuthentication no
GSSAPICleanupCredentials no
AllowTcpForwarding yes
X11Forwarding yes
UseDNS no
PrintMotd no
ClientAliveInterval 600
ClientAliveCountMax 0
IgnoreRhosts yes
HostbasedAuthentication no
Subsystem sftp internal-sftp
UsePrivilegeSeparation yes
PrintLastLog no
TCPKeepAlive yes
DenyGroups cpaneldemo cpanelsuspended
MaxAuthTries 3
#AuthorizedKeysFile .ssh/authorized_keys
UsePAM yes
UsePrivilegeSeparation sandbox
PermitUserEnvironment no
Ciphers aes128-ctr,aes192-ctr,aes256-ctr
